<div class="section-repositories flex-container" >
    <div class="section-discovery-wrapper repositories-wrapper">
      <h2>AI Modeling</h2>
      <div class="row">
        <div class="col-4">
          <div class="discovery-card flip-in">
            <div class="discovery-card-wrapper" >
              <h3>Deep Learning Client</h3>
              <p><a href="https://flower.ai/">Flower</a> client-site code of a Federated Learning analysis for a <a href="https://pytorch.org/">PyTorch</a> deep learning model. It loads local images and defines the model to train/evaluate.</p>
              <a href="https://gitlab.bsc.es/fl/FLManager" target="_blank" class="btn btn-go">Install</a>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="discovery-card flip-in">
            <div class="discovery-card-wrapper" >
              <div class="custom-image-box">
                <img src="/images/pytorch.png" alt="Deep Learning Model Loader" class="icon" />
              </div>
              <h3>Deep Learning Model Loader</h3>
              <p>Docker container loading a <a href="https://pytorch.org/">PyTorch</a> deep learning model</p>
              <a href="https://gitlab.bsc.es/fl/DLDocker" target="_blank" class="btn btn-go">Install</a>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="discovery-card flip-in">
            <div class="discovery-card-wrapper" >
              <img src="/images/eucanimage_ai-vre.png" alt="AI-VRE core" class="icon" />
              <h3>AI-VRE core</h3>
              <p>Portable execution framework for running AI experiments in batch mode on the cloud. It includes a web application, an authentication server and a a job scheduler.</p>
              <a href="https://github.com/inab/openVRE/wiki" target="_blank" class="btn btn-go">Install</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>