<div class="section-repositories flex-container mt-5" >
    <div class="section-discovery-wrapper repositories-wrapper">
      <h2>Data enhancement</h2>
      <div class="row">
        <div class="col-6">
          <div class="discovery-card flip-in">
            <div class="discovery-card-wrapper" >
              <img src="/images/unknown.png" alt="POSDA curation suite" class="icon" />
              <h3>POSDA curation suite</h3>
              <p>Containerized GDPR-compliant tools for data pseudonymization, de-
identification and transfer.</p>
              <a href="https://github.com/UAMS-DBMI/PosdaTools" target="_blank" class="btn btn-go">Install</a>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="discovery-card flip-in">
            <div class="discovery-card-wrapper" >
              <img src="/images/CollectiveMindslogo.png" alt="Collective Minds" class="icon" />
              <h3>CMDRAD proxy</h3>
              <p>Lightweight virtual server for pseudonymization, de-identification and transfer to imaging data</p>
              <a href="https://collectiveminds.health/" target="_blank" class="btn btn-go">Install</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>