<div class="section-repositories flex-container">
  <div class="section-discovery-wrapper repositories-wrapper">
    <div class="discovery-text">
      <h2>Data Repositories</h2>
      <p>
        Well-established European data infraestructures are used for <strong>long-term archive</strong>
        of the cancer imaging, -omincs and health data collection that are being curated, annotated and harmonized in the consortium.
      </p>
    </div>

    <div class="discovery-card-box">
      <div class="discovery-card">
        <div class="discovery-card-wrapper">
          <img src="/images/eurobioimaging-logo.svg" alt="Catalogue Icon" class="icon" />
          <h3>Catalogue</h3>
          <p><strong>Explore EuCanImage datasets</strong></p>
          <ul>
            <li><img src="/images/right-arrow.png" />Discover studies with cancer imaging, biological and health data.</li>
            <li><img src="/images/right-arrow.png" />Locate associated imaging and non-imaging data collections.</li>
            <li><img src="/images/right-arrow.png" />Hosted by the <a href="https://www.ibbmed.org" target="_blank">European Institute for Biomedical Imaging Research</a>.</li>
          </ul>
          <a href="/catalogue" class="btn btn-go">GO</a>
        </div>
      </div>

      <div class="discovery-card">
        <div class="discovery-card-wrapper">
          <img src="/images/ega.png" alt="Catalogue Icon" class="icon" />
          <h3>Catalogue</h3>
          <p><strong>Explore EuCanImage datasets</strong></p>
          <ul>
            <li><img src="/images/right-arrow.png" />Discover studies with cancer imaging, biological and health data.</li>
            <li><img src="/images/right-arrow.png" />Locate associated imaging and non-imaging data collections.</li>
            <li><img src="/images/right-arrow.png" />Hosted by the <a href="https://www.ibbmed.org" target="_blank">European Institute for Biomedical Imaging Research</a>.</li>
          </ul>
          <a href="/catalogue" class="btn btn-go">GO</a>
        </div>
      </div>
    </div>
  </div>
</div>
