<div class="section-access flex-container">
  <div class="section-discovery-wrapper repositories-wrapper">
    <div class="discovery-text">
      <h2>Collected Variables</h2>
      <p>
        The full list of non-imaging variables included in the EuCanImage
        collections are described in the catalogue, together with its
        availability in each dataset and some aggregated statistics displaying
        ranges, distributions, etc.
      </p>
      <p>
        This is a summary table of the clinical and epidemiological variables
        collected
      </p>
      <table class="simple-table">
        <thead>
          <tr>
            <th>Variable</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Age</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
          </tr>
          <tr>
            <td>Tumor Stage</td>
            <td>
              Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </td>
          </tr>
        </tbody>
      </table>

      <h3>Codebooks</h3>
      <p>
        Codebooks are made public as part of the research publications derived
        from EuCanImage use-cases:
      </p>
      <div class="codebooks-card-grid">
        <div class="discovery-card flip-in">
          <div class="discovery-card-wrapper">
            <h3>Hepatocellular carcinoma</h3>
            <p>
              <strong>See publication:</strong><br />
              <a href="https://example.com/hcc-publication" target="_blank"
                >HCC related EuCanImage study</a
              >
            </p>
          </div>
        </div>

        <div class="discovery-card flip-in">
          <div class="discovery-card-wrapper">
            <h3>Liver metastases in colorectal cancer</h3>
            <p>
              <strong>See publication:</strong><br />
              <a
                href="https://example.com/liver-mets-publication"
                target="_blank"
                >Liver mets study from EuCanImage</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
