<div class="section-discovery flex-container" id="repositories-section">
  <div class="section-discovery-wrapper single-card-centered">
    <div class="discovery-card flip-in">
      <div class="discovery-card-wrapper" >
        <img src="/images/logo_transparency.png" alt="Catalogue Icon" class="icon" />
        <h3>Catalogue</h3>
        <p><strong>Explore EuCanImage datasets</strong></p>
        <ul>
          <li><img src="/images/right-arrow.png" />Discover studies with cancer imaging, biological and health data.</li>
          <li><img src="/images/right-arrow.png" />Locate associated imaging and non-imaging data collections.</li>
          <li><img src="/images/right-arrow.png" />Hosted by the <a href="https://www.eibir.org/" target="_blank">European Institute for Biomedical Imaging Research</a>.</li>
        </ul>
        <a href="https://molgenis.eibir-edc.org/#/?network=EUCANIMAGE" target="_blank" class="btn btn-go">GO</a>
      </div>
    </div>
  </div>
</div>
