<div class="section-access flex-container" style="margin-top: 50px;">
  <div class="section-discovery-wrapper repositories-wrapper">
    <div class="discovery-text">
      <h2>Data Access</h2>
      <p>
        While the EuCanImage platform provides access to a comprehensive catalogue of imaging and related datasets, access requests for controlled data are not handled directly by the project. Instead, visitors are directed to the appropriate data repositories hosting the datasets of interest. For more information, please refer to the <a href="#repositories-section"> Data Catalogue </a> section.
      </p>
    </div>
  </div>
</div>