<div class="section-access flex-container" >
  <div class="section-discovery-wrapper repositories-wrapper">
    <div class="discovery-text">
      <h2>Data Access</h2>
      <p>
        The EuCanImage Data Sharing Agreement is currently in the finalization stages, 
        after which a streamlined data access protocol  will become available. 
        At the moment, we recommend you to contact the specific PIs for each dataset to gain access, 
        which information can be found in the <a href="https://molgenis.eibir-edc.org/#/?network=EUCANIMAGE" target="_blank"> EuCanImage catalogue </a>.
      </p>
    </div>
  </div>
</div>