<div class="section-discovery flex-container">
  <div class="section-discovery-wrapper">
    <div class="discovery-text">
        <h2>Data Discovery</h2>
        <p>
          EuCanImage is compiling an open-access catalogue to search for relevant <strong>oncologic data collections for AI experiments</strong>.
          It includes a complete search engine that enables data filtering by both, imaging and non-imaging parameters:
        </p>
        <ul>
          <li><img src="/images/right-arrow.png" />Imaging modality (CT, MRI, PET, US)</li>
          <li><img src="/images/right-arrow.png" />Scanned Organ <em>(e.g. liver, breast or colorectal)</em></li>
          <li><img src="/images/right-arrow.png" />Image acquisition parameters</li>
          <li><img src="/images/right-arrow.png" />Data formats</li>
          <li><img src="/images/right-arrow.png" />Image annotations and segmentations</li>
          <li><img src="/images/right-arrow.png" />Quantified imaging biomarkers</li>
          <li><img src="/images/right-arrow.png" />Clinical variables</li>
          <li><img src="/images/right-arrow.png" />Physical measurements</li>
          <li><img src="/images/right-arrow.png" />Pathology specimen data</li>
          <li><img src="/images/right-arrow.png" />-omics</li>
        </ul>
      </div>

      <div class="discovery-card flip-in">
        <div class="discovery-card-wrapper">
          <img src="/images/logo_transparency.png" alt="Catalogue Icon" class="icon" />
          <h3>Catalogue</h3>
          <p><strong>Explore EuCanImage datasets</strong></p>
          <ul>
            <li><img src="/images/right-arrow.png" />Discover studies with cancer imaging, biological and health data.</li>
            <li><img src="/images/right-arrow.png" />Locate associated imaging and non-imaging data collections.</li>
            <li><img src="/images/right-arrow.png" />Hosted by the <a href="https://www.eibir.org/" target="_blank">European Institute for Biomedical Imaging Research</a>.</li>
          </ul>
          <a href="/https://eucanimage.eu/research-results/" class="btn btn-go">GO</a>
        </div>
      </div>
  </div>
</div>
