<div class="section-repositories flex-container" >
  <div class="section-discovery-wrapper repositories-wrapper">
    <h2>Data Collecction Summary</h2>

    <div class="repository-table-container">
      <p>
        <em
          ><strong>Table 1:</strong> Preliminary list of annotated cancer
          imaging datasets for the initial phase of EuCanImage platform
          implementation and testing, totalling 5,641 cases.</em
        >
      </p>

      <table class="repository-table">
        <thead>
          <tr>
            <th>Anatomy</th>
            <th>Disease</th>
            <th>N of patients</th>
            <th>Modality</th>
            <th>Partner</th>
            <th>Country</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Multiple</td>
            <td>Various soft-tissue tumours (e.g. sarcoma)</td>
            <td>239</td>
            <td>MRI / CT</td>
            <td>EMC</td>
            <td>NL</td>
            <td>Collection</td>
          </tr>
          <tr>
            <td>Liver</td>
            <td>Colorectal liver metastases</td>
            <td>~500</td>
            <td>CT</td>
            <td>EMC</td>
            <td>NL</td>
            <td>Annotation</td>
          </tr>
          <tr>
            <td>Breast</td>
            <td>Breast cancer</td>
            <td>197</td>
            <td>MG</td>
            <td>EMC</td>
            <td>NL</td>
            <td>Legal</td>
          </tr>
          <tr>
            <td>Brain</td>
            <td>Low-grade glioma</td>
            <td>774</td>
            <td>MRI</td>
            <td>EMC</td>
            <td>NL</td>
            <td>Published<sup>1</sup></td>
          </tr>
          <tr>
            <td>Extremities</td>
            <td>Lipoma and liposarcoma</td>
            <td>116</td>
            <td>MRI</td>
            <td>EMC</td>
            <td>NL</td>
            <td>Published<sup>2</sup></td>
          </tr>
          <tr>
            <td>Extremities</td>
            <td>Desmoid-type fibromatosis and similar extremity sarcoma</td>
            <td>203</td>
            <td>MRI</td>
            <td>EMC</td>
            <td>NL</td>
            <td>Published<sup>2</sup></td>
          </tr>
          <tr>
            <td>Gastrointestinal</td>
            <td>
              GISTs and intra-abdominal gastrointestinal tumours resembling
              GISTs
            </td>
            <td>246</td>
            <td>CT</td>
            <td>EMC</td>
            <td>NL</td>
            <td>Published<sup>2</sup></td>
          </tr>
          <tr>
            <td>Liver</td>
            <td>Primary solid liver tumours (e.g. HCC)</td>
            <td>186</td>
            <td>MRI</td>
            <td>EMC</td>
            <td>NL</td>
            <td>Published<sup>2</sup></td>
          </tr>
          <tr>
            <td>Liver</td>
            <td>Colorectal liver metastases</td>
            <td>77</td>
            <td>CT</td>
            <td>EMC</td>
            <td>NL</td>
            <td>Published<sup>2</sup></td>
          </tr>
          <tr>
            <td>Lung</td>
            <td>Melanoma lung metastases</td>
            <td>103</td>
            <td>CT</td>
            <td>EMC</td>
            <td>NL</td>
            <td>Published<sup>2</sup></td>
          </tr>
          <tr>
            <td>Breast</td>
            <td>Breast cancer</td>
            <td>2964</td>
            <td>MG</td>
            <td>UB / Parc Taulí</td>
            <td>ES</td>
            <td>Annotation</td>
          </tr>
        </tbody>
      </table>

      <ol class="references">
        <li>
          <a href="https://doi.org/10.1016/j.dib.2021.107191" target="_blank"
            >https://doi.org/10.1016/j.dib.2021.107191</a
          >
        </li>
        <li>
          <a href="https://doi.org/10.1101/2021.08.19.21262238" target="_blank"
            >https://doi.org/10.1101/2021.08.19.21262238</a
          >
        </li>
      </ol>
    </div>
  </div>
</div>
