<div class="section-repositories flex-container" id="repositories-section">
  <div class="section-discovery-wrapper repositories-wrapper">
    <div class="discovery-text">
      <h2>Data Repositories</h2>
      <p>
        Well-established European data infraestructures are used for <strong>long-term archive</strong>
        of the cancer imaging, -omincs and health data collection that are being curated, annotated and harmonized in the consortium.
      </p>
    </div>

    <div class="discovery-card-box medium-card">
      <div class="discovery-card flip-in">
        <div class="discovery-card-wrapper">
          <img src="/images/eurobioimaging-logo.svg" alt="Catalogue Icon" class="icon" />
          <h3>{{ .Page.Params.dataRespositoriesCard1Title }}</h3>
          <p><strong>{{ .Page.Params.dataRespositoriesCard1TitleSubtitle }}</strong></p>
          <ul>
            <li><img src="/images/right-arrow.png" />{{ .Page.Params.dataRespositoriesCard1Li1 }}</li>
            <li><img src="/images/right-arrow.png" />{{ .Page.Params.dataRespositoriesCard1Li2 }} <a href="https://www.erasmusmc.nl/en/" target="_blank">Erasmus Medical Center (EMC)</a>.</li>
          </ul>
          <a href="/https://www.erasmusmc.nl/en/" class="btn btn-go">GO</a>
        </div>
      </div>

      <div class="discovery-card flip-in">
        <div class="discovery-card-wrapper">
          <img src="/images/ega.png" alt="Catalogue Icon" class="icon" />
          <h3>{{ .Page.Params.dataRespositoriesCard2Title }}</h3>
          <p><strong>{{ .Page.Params.dataRespositoriesCard2TitleSubtitle }}s</strong></p>
          <ul>
            <li><img src="/images/right-arrow.png" />{{ .Page.Params.dataRespositoriesCard2Li1 }}</li>
            <li><img src="/images/right-arrow.png" />{{ .Page.Params.dataRespositoriesCard2Li2 }} <a href="https://www.crg.eu/" target="_blank">Center for Genomic Regulation (CGR)</a>.</li>
          </ul>
          <a href="https://www.crg.eu/" class="btn btn-go">GO</a>
        </div>
      </div>
    </div>
  </div>
</div>
