<div class="section-access flex-container">
  <div class="section-discovery-wrapper repositories-wrapper">
    <div class="discovery-text">
      <h2>Collected Variables</h2>
      <p>
        The full list of non-imaging variables included in the EuCanImage
        collections are described in the catalogue, together with its
        availability in each dataset and some aggregated statistics displaying
        ranges, distributions, etc.
      </p>
      <p>
        This is a summary table of the clinical and epidemiological variables
        collected.
      </p>
      <table class="simple-table">
        <thead>
          <tr>
            <th>Variable</th>
            <th>Description</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Sex</td>
            <td>Biological sex of the patient (male/female).</td>
            <td>Clinical</td>
          </tr>
          <tr>
            <td>Age at diagnosis</td>
            <td>Patient's age when the cancer was diagnosed.</td>
            <td>Epidemiological</td>
          </tr>
          <tr>
            <td>Radiotherapy</td>
            <td>
              Whether the patient received radiation therapy as part of
              treatment.
            </td>
            <td>Clinical</td>
          </tr>
          <tr>
            <td>Surgery</td>
            <td>Whether surgical treatment was performed.</td>
            <td>Clinical</td>
          </tr>
        </tbody>
      </table>

      <h3>Codebooks</h3>
      <p>
        Codebooks are made public as part of the research publications derived
        from EuCanImage use-cases:
      </p>
      <div class="container my-4">
        <div class="row justify-content-center cards-row">
          {{ partial "explore/usecasecard.html" (dict "Title" "Hepatocellular carcinoma" "Description" "Publication in progress") }} 
          {{ partial "explore/usecasecard.html" (dict "Title" "Liver metastases in colorectal cancer" "Description" "Publication in progress") }}

        </div>
      </div>
    </div>
  </div>
</div>
