<div class="section-repositories flex-container">

  <div class="section-discovery-wrapper mt-5">
  <h2>Access to Services or Software</h2>

    <div class="cards row">

      <!-- Card 1 -->
      <div class="discovery-card flip-in col-4">
        <div class="discovery-card-wrapper">
          <div class="card-header">
            <img src="/images/opeb_logo.gif" alt="OpenEBench logo" class="icon pb-3">
            <h4>OpenEBench</h4>
            <p class="pb-0"><strong>ELIXIR Benchmarking Platform</strong></p>
          </div>
          <div class="card-body">
            <ul>
              <li><img src="/images/right-arrow.png" />Participate to benchmarking events organized by EuCanImage for assessing your AI method.</li>
              <li><img src="/images/right-arrow.png" />Inspect and visualize public benchmarking results.</li>
            </ul>
          </div>
          
          <!-- Button -->
          <a href="https://openebench.bsc.es/benchmarking/OEBC012" target="_blank" class="btn btn-go">GO</a>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="discovery-card flip-in col-4">
        <div class="discovery-card-wrapper">
          <div class="card-header">
            <img src="/images/InSilicoTrials.png" alt="OpenEBench logo" class="icon pb-3">
            <h4>In silico Trial Platform</h4>
            <p class="pb-0"><strong>In silico Validation</strong></p>
          </div>
          <div class="card-body">
            <p class="mt-0 pb-0">In silico platform allows to conduct studies to evaluate the added value of AI in the simulated clinical workflow. Three types of evaluations are possible: </p>
            <ul>
              <li><img src="/images/right-arrow.png" />Clinicians without AI</li>
              <li><img src="/images/right-arrow.png" />Clinicians with AI</li>
              <li><img src="/images/right-arrow.png" />Clinicians with AI and Explainability</li>
            </ul>
          </div>
          
          <!-- Button -->
          <a href="https://insilicoradiomics.eu" target="_blank" class="btn btn-go">GO</a>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="discovery-card flip-in col-4">
        <div class="discovery-card-wrapper">
          <div class="card-header">
            <img src="/images/rq.png" alt="OpenEBench logo" class="icon pb-3">
            <h4>Radiomics Quality Score 2.0 </h4>
            <p class="pb-0"><strong>Benchmarking Radiomics Studies</strong></p>
          </div>
          <div class="card-body">
            <ul>
              <li><img src="/images/right-arrow.png" />Radiomics Quality Score 2.0 enables benchmarking deep learning and handcrafted radiomics research.</li>
              <li><img src="/images/right-arrow.png" />The Radiomics Readiness Levels (RRLs) framework is embedded within RQS 2.0 to establish a structured, step-by-step approach to radiomics research.</li>
            </ul>
          </div>

          <!-- Button -->
          <a href="https://www.radiomics.world/rqs2" target="_blank" class="btn btn-go">GO</a>
        </div>
      </div>
    </div>

    <div class="cards row">
      <div class="discovery-card flip-in col-4">
        <div class="discovery-card-wrapper">
          <div class="card-header">
            <img src="/images/CollectiveMindslogo.png" alt="Collective Minds" class="icon pb-3">
            <h4 class="pt-2">Collective Minds Research</h4>
            <p class="pb-0"><strong>Collective Segmentation for Medical Imaging</strong></p>
          </div>
          <div class="card-body">
           <p class="mt-0 pb-0">
            An advanced, collaborative platform for precise medical image segmentation and other clinical research workflows, designed to accelerate AI-driven oncology research. Built on a secure, cloud infrastructure, it enables the collection, annotation, and benchmarking of cancer-related imaging multi-modal datasets, ensuring high-quality, GDPR-compliant workflows.
           </p>
          </div>
          
          <!-- Button -->
          <a href="https://collectiveminds.health/research" target="_blank" class="btn btn-go">GO</a>
        </div>
      </div>
      <div class="discovery-card flip-in col-4">
        <div class="discovery-card-wrapper">
          <div class="card-header">
            <img src="/images/CollectiveMindslogo.png" alt="Collective Minds" class="icon pb-3">
            <h4 class="pt-2">Collective Minds Connect</h4>
            <p class="pb-0"><strong>Automatic Imaging Data Collection, Pseudonymization, Tracking and Transfer</strong></p>
          </div>
          <div class="card-body">
           <p class="mt-0 pb-0">
            A seamless hospital edge gateway and data pipeline for automated imaging acquisition, anonymization, tracking and secure transfer. This service streamlines the entire lifecycle—from data ingestion through tracking to delivery—ensuring compliant, efficient, and traceable data transfers that facilitate federated AI development and multi-modal, multi-centric collaboration. 
           </p>
          </div>
          
          <!-- Button -->
          <a href="https://collectiveminds.health/connect" target="_blank" class="btn btn-go">GO</a>
        </div>
      </div>
    </div>
    
  </div>
</div>
