<div class="section-discovery flex-container">
  <h4>Access to Services or Software</h4>

  <div class="section-discovery-wrapper cards">
    
    <!-- Card 1 -->
    <div class="discovery-card flip-in">
      <div class="discovery-card-wrapper">
        <div class="card-header">
          <img src="/images/opeb_logo.gif" alt="OpenEBench logo" class="icon pb-3">
          <h4>OpenEBench</h4>
          <p class="pb-0"><strong>ELIXIR Benchmarking Platform</strong></p>
        </div>
        <div class="card-body">
          <ul>
            <li><img src="/images/right-arrow.png" />Participate to benchmarking events organized by EuCanImage for assessing your AI method</li>
            <li><img src="/images/right-arrow.png" />Inspect and visualize public benchmarking results.</li>
          </ul>
        </div>
        
        <!-- Button -->
        <a href="https://openebench.bsc.es/benchmarking/OEBC012" target="_blank" class="btn btn-go">GO</a>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="discovery-card flip-in">
      <div class="discovery-card-wrapper">
        <div class="card-header">
          <img src="/images/logo_provisional.jpg" alt="OpenEBench logo" class="icon pb-3">
          <h4>In silico Trial Platform</h4>
          <p class="pb-0"><strong>In silico Validation</strong></p>
        </div>
        <div class="card-body">
          <p class="mt-0 pb-0">In silico platform allows to conduct studies to evaluate the added value of AI in the simulated clinical workflow. Three types of evaluations are possible: </p>
          <ul>
            <li><img src="/images/right-arrow.png" />Clinicians without AI</li>
            <li><img src="/images/right-arrow.png" />Clinicians with AI</li>
            <li><img src="/images/right-arrow.png" />Clinicians with AI and Explainability</li>
          </ul>
        </div>
        
        <!-- Button -->
        <a href="https://insilicoradiomics.eu" target="_blank" class="btn btn-go">GO</a>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="discovery-card flip-in">
      <div class="discovery-card-wrapper">
        <div class="card-header">
          <img src="/images/logo_provisional.jpg" alt="OpenEBench logo" class="icon pb-3">
          <h4>Radiomics Quality Score 2.0 </h4>
          <p class="pb-0"><strong>Benchmarking Radiomics Studies</strong></p>
        </div>
        <div class="card-body">
          <ul>
            <li><img src="/images/right-arrow.png" />Radiomics Quality Score 2.0 enables benchmarking deep learning and handcrafted radiomics research.</li>
            <li><img src="/images/right-arrow.png" />The Radiomics Readiness Levels (RRLs) framework is embedded within RQS 2.0 to establish a structured, step-by-step approach to radiomics research.</li>
          </ul>
        </div>

        <!-- Button -->
        <a href="https://www.radiomics.world/rqs2" target="_blank" class="btn btn-go">GO</a>
      </div>
    </div>

  </div>
</div>
