<div class="section-discovery flex-container">
  <div class="section-discovery-wrapper">
    <div class="discovery-text pb-5">
      <h2>AI modeling</h2>
      <p>
        EuCanImage is creating a <strong>collection of radiomics methods and AI algorithms</strong> for 
        building novel integrative AI models from large-scale imaging and non-imaging data. They are
        <strong>offered through the AI Virtual Research Environment</strong>, a portable computational 
        environment for supporting the development and validation of AI tools.
      </p>
      <ul>
        <li><img src="/images/dot.png" />Tools for cancer image feature extraction and selection.</li>
        <li><img src="/images/dot.png" />Machine-learnig pipeline for integrated predictive modelling.</li>
      </ul>
      <br><br><br><br><br><br><br>
        
    </div>

    <div class="aiModeling-card">
      <div class="aiModeling-card-wrapper">
        <img src="/images/logo_transparency.png" alt="Catalogue Icon" class="icon" />
        <h3>AI Development Platform</h3>
        <p><strong>Run AI experiments</strong></p>
        <ul>
          <li><img src="/images/dot.png" />Run EuCanImage AI tools on a private execution environment.</li>
          <li><img src="/images/dot.png" />Use the user-friendly web interface to upload your dataset or import them from any of the EuCanImage Data Repositories.</li>
          <li><img src="/images/dot.png" />A pilot installation is online hosted at the <a href="https://www.bsc.es" target="_blank">Barcelona Supercomputing Center </a>facilities.</li>
        </ul>

        <div class="buttons">
          <a href="/https://eucanimage.eu/research-results/" class="btn btn-go">RUN ONLINE DEMO</a>
          <a href="/https://eucanimage.eu/research-results/" class="btn btn-go">INSTALL PLATFORM</a>
        </div>
        
      </div>
    </div>
  </div>
</div>
