<div class="section-repositories flex-container">

  <div class="section-discovery-wrapper mt-5">
    <h2>AI Modeling</h2>
    <div class="cards row">
      <div class="col-6">
        <p>
          EnCanImage is creating a <b>collection of radiomics methods and AI algorithms</b> for building novel integrative AI models from large-scale imaging and non-imaging data. They are <b>offered through the AI Virtual Research Environment</b>, a portable computational environment for supporting the development and validation of AI tools.
        </p>
        <ul>
          <li>
            Tools for cancer image feature  extraction and selection
          </li>
          <li>
            Machine-learning pipeline for integrated predictive modelling
          </li>
        </ul>
      </div>
      <div class="col-6">
        <div class="discovery-card flip-in">
          <div class="discovery-card-wrapper">
            <div class="card-header">
              <img src="/images/eucanimage_ai-vre.png" alt="OpenEBench logo" class="icon pb-3">
              <h4 class="pt-2">AI Development Platform</h4>
              <p class="pb-0"><strong>Run AI experiments</strong></p>
            </div>
            <div class="card-body">
              <ul>
                <li><img src="/images/right-arrow.png" />Run EuCanImage AI tools on a private execution environment.</li>
                <li><img src="/images/right-arrow.png" />Use the user-friendly web interface to upload your dataset or import them from any of the EuCanImage Data Repositories.</li>
                <li><img src="/images/right-arrow.png" />A pilot installation is online hosted at the <a href="https://bsc.es/">Barcelona Supercomputing Center</a> facilities.</li>
              </ul>
            </div>
            
            <!-- Button -->
             <div class="row w-100">
              <div class="col-6">
                <a href="https://vre.eucanimage.eu/" target="_blank" class="btn btn-go">Run Online Demo</a>
              </div>
              <div class="col-6">
                <a href="/software" class="btn btn-go">Install Platform</a>
              </div>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>