<header class="home-hero">
  <div class="home-content-container">
    <div class="home-clipped-border"></div>
    <div class="hero-text">
      <h1>EuCanImage</h1>
      <p><strong>Towards a European cancer imaging platform for enhanced Artificial Intelligence in oncology.</strong></p>
      <p>Become a part of EuCanImage and <strong>join our collective segmentation efforts!</strong> <a href="https://eucanimage.eu/" class="custom-link "><strong>Click here</strong></a> to read more about this initiative.</p>
      <a class="hero-button" href="https://eucanimage.eu/#about-project">READ MORE</a>
    </div>
  </div>
</header>