{{ define "main" }}
<section class="explore-hero">
  <div class="w-100">
    <header class="explore-header">
      <div class="hero-pages-content-container">
        <div class="hero-clipped-border"></div>
        <div class="hero-pages-text">
          <h1 class="title">{{ .Title }}</h1>
          {{ with .Params.description }}
            <p class="subtitle">{{ . }}</p>
          {{ end }}
        </div>
      </div>
    </header>

    <div class="content container">
      {{ .Content }}
    </div>
  </div>
</section>
{{ end }}
